.primary {
  color: deepskyblue;
}

.primary-ref {
  color: deepskyblue;
}

.secondary {
  color: lightskyblue;
}

.secondary-ref {
  color: lightskyblue;
}

.secondary-ref-ref {
  color: lightskyblue;
}
